<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="/common/layout/base">
<head>
</head>

<body layout:fragment="content">

<div class="container">
    <div class="x_panel">

        <!-- Trigger/Open Processing Modal -->
        <button id="processing_modal_btn" title="Show Modal" style="display: none">Open Modal</button>

        <!-- Processing Modal -->
        <div id="processing_modal" class="processing-modal">

            <!-- Modal content -->
            <div class="processing-modal-content">
                <div><span class="processing-modal-close">&times;</span>
                    <h3>Processing ... <i class="fa-2x fas fa-spinner fa-spin"></i></h3>
                </div>
            </div>

        </div>

        <!-- Trigger/Open Result Modal -->
        <button id="result_modal_btn" style="display: none">Open Modal</button>

        <!-- The Modal -->
        <div id="result_modal" class="result-modal">

            <!-- Modal content -->
            <div class="result-modal-content">
                <div class="result-modal-header">
                    <span class="result-modal-close">&times;</span>
                    <h2>WARNING: INSUFFICIENT BALANCE</h2>
                </div>
                <h3 align="center" style="color: darkorange">Salary couldn't be processed due to insufficient balance. Check report below</h3>
                <br>
                <h3 align="center">Paid Employees</h3>
                <div class="result-modal-body">
                    <div class="table-responsive">
                        <table id="paid_employee_list" class="table table-bordered table-striped table-hover table-condensed container"
                               style="width: 70%">
                            <thead>
                            <tr style="background-color: lightgreen; text-align: center">
                                <th>Employee ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Status</th>
                            </tr>
                            </thead>

                            <tbody style="text-align: center">
                            </tbody>
                        </table>
                    </div><br>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            Total Paid Employees = <span id="total_paid_emp"></span>
                        </div>
                        <div class="col-sm-3">
                            <label><h4>Total Paid Amount = </h4></label>
                        </div>
                        <div class="col-sm-3">
                            <p id="total_paid_sal"></p>
                        </div>
                    </div><br><br>
                    <h3 align="center">Remaining Employees</h3>
                    <div class="table-responsive">
                        <table id="unpaid_employee_list" class="table table-bordered table-striped table-hover table-condensed container"
                               style="width: 70%">
                            <thead>
                            <tr style="background-color: red; text-align: center">
                                <th>Employee ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Status</th>
                            </tr>
                            </thead>

                            <tbody style="text-align: center">
                            </tbody>
                        </table>
                    </div><br>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            Total Unpaid Employees = <span id="total_unpaid_emp"></span>
                        </div>
                        <div class="col-sm-3">
                            <label><h4>Total Due Amount = </h4></label>
                        </div>
                        <div class="col-sm-3">
                            <p id="total_unpaid_sal"></p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-4">
                            <label><h4>Company Current Balance = </h4></label>
                        </div>
                        <div class="col-sm-3">
                            <p id="cp_cur_bal"></p>
                        </div>
                    </div><br><hr>
                    <div id="cr_amt_div">
                        <div class="form-group row">
                            <label for="cr_amt" class="col-sm-3 col-form-label"><h5 style="color: green">Amount to Credit<span class="err_msg"> *</span></h5></label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control col-sm-5" id="cr_amt"
                                       placeholder="Amount to Credit">
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-3">
                                <button id="process_again" class="btn btn-success">Process Again ?</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <button id="credit_cp_acc" class="btn btn-success">Credit</button>
                            </div>
                        </div><br>
                    </div>
                </div>
                <div class="result-modal-footer">
                    <h3>WARNING !!</h3>
                </div>
            </div>

        </div>

        <br><br>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <label><h3>Salary Disbursement Process</h3></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5"></div>
            <div class="col-sm-3">
                <h5 th:text="'Total employees = ' + ${totalEmployee}"></h5>
            </div>
            <div class="col-sm-3">
                <button id="disburse_sal" class="btn btn-sm btn-warning">Disburse Salary</button>
            </div>
        </div>

        <div class="table-responsive">
            <table id="salary-by-grade-list" class="table table-bordered table-striped table-hover table-condensed container"
                   style="width: 70%">
                <thead>
                <tr style="background-color: lightblue; text-align: center">
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Salary</th>
                </tr>
                </thead>

                <tbody style="text-align: center">
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.empName}"></td>
                    <td th:text="${employee.grade}"></td>
                    <td th:text="${employee.employeeSalaryByGrade.salary}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6"><h5 th:text="'Company Account Balance = ' + ${companyAccBalance}"></h5></div>
            <div class="col-sm-4">
                <h5 th:text="'Total = ' + ${empAggregateSalary}"></h5>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <a class="btn btn-link" href="/company-utility/bank-acc-info" target="_blank">Credit Company Account</a>
            </div>
        </div><br>

    </div>
</div>

</body>

<!--Script-->
<div layout:fragment="script">
        <script src="/js/company/salary-disburse-process-form.js"></script>
</div>

<div layout:fragment="css">
    <!--    modal-->
    <link rel="stylesheet" href="/css/modal/custom-processing-modal.css">
    <link rel="stylesheet" href="/css/modal/custom-salary-processing-result-modal.css">
</div>

</html>