<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="/common/layout/base">
<head>
</head>

<body layout:fragment="content">

<div class="container">
    <div class="x_panel">

        <!-- Trigger/Open Processing Modal -->
        <button id="processing_modal_btn" title="Show Modal" style="display: none">Open Modal</button>

        <!-- Processing Modal -->
        <div id="processing_modal" class="processing-modal">

            <!-- Modal content -->
            <div class="processing-modal-content">
                <div><span class="processing-modal-close">&times;</span>
                    <h3>Processing ... <i class="fa-2x fas fa-spinner fa-spin"></i></h3>
                </div>
            </div>

        </div>

        <!-- Trigger/Open Result Modal -->
        <button id="result_modal_btn" style="display: none">Open Modal</button>

        <!-- The Modal -->
        <div id="result_modal" class="result-modal">

            <!-- Modal content -->
            <div class="result-modal-content">
                <div class="result-modal-header">
                    <span class="result-modal-close">&times;</span>
                    <h2>Modal Header</h2>
                </div>
                <div class="result-modal-body">
                    <p>Some text in the Modal Body</p>
                    <p>Some other text...</p>
                </div>
                <div class="result-modal-footer">
                    <h3>Modal Footer</h3>
                </div>
            </div>

        </div>

        <br><br>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <label><h3>Salary Disbursement Process</h3></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5"></div>
            <div class="col-sm-3">
                <h5 th:text="'Total employees = ' + ${totalEmployee}"></h5>
            </div>
            <div class="col-sm-3">
                <button id="disburse_sal" class="btn btn-sm btn-warning">Disburse Salary</button>
            </div>
        </div>

        <div class="table-responsive">
            <table id="salary-by-grade-list" class="table table-bordered table-striped table-hover table-condensed container"
                   style="width: 70%">
                <thead>
                <tr style="background-color: lightblue; text-align: center">
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Salary</th>
                </tr>
                </thead>

                <tbody style="text-align: center">
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.empName}"></td>
                    <td th:text="${employee.grade}"></td>
                    <td th:text="${employee.employeeSalaryByGrade.salary}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6"><h5 th:text="'Company Account Balance = ' + ${companyAccBalance}"></h5></div>
            <div class="col-sm-4">
                <h5 th:text="'Total = ' + ${empAggregateSalary}"></h5>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <a class="btn btn-link" href="/company-utility/bank-acc-info" target="_blank">Credit Company Account</a>
            </div>
        </div><br>

    </div>
</div>

</body>

<!--Script-->
<div layout:fragment="script">
        <script src="/js/company/salary-disburse-process-form.js"></script>
</div>

<div layout:fragment="css">
    <!--    modal-->
    <link rel="stylesheet" href="/css/modal/custom-processing-modal.css">
    <link rel="stylesheet" href="/css/modal/custom-salary-processing-result-modal.css">
</div>

</html>