<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="/common/layout/base">
<head>
</head>

<body layout:fragment="content">

<div class="container">
    <div class="x_panel">

        <br><br>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <label><h3>Employee Salary Sheet</h3></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4"></div>
            <div class="col-sm-5">
                <br><br><label style="color: green"><b> Go To: -> </b> </label>
                <button onclick="window.location.href='/company-utility/bank-acc-info'"
                        class="btn btn-sm btn-primary">Company Bank Account Info</button>
            </div>
        </div><br>

        <div class="table-responsive">
            <table id="salary-by-grade-list" class="table table-bordered table-striped table-hover table-condensed container"
                   style="width: 70%">
                <thead>
                <tr style="background-color: lightblue; text-align: center">
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Salary</th>
                </tr>
                </thead>

                <tbody style="text-align: center">
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.empName}"></td>
                    <td th:text="${employee.grade}"></td>
                    <td th:text="${employee.employeeSalaryByGrade.salary}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>

<!--Script-->
<div layout:fragment="script">
    <!--    <script src="/js/employee/init-sal-calc-form.js"></script>-->
</div>

<div layout:fragment="css">

</div>

</html>